.git
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.env
fewa-automation/crawl-output*
fewa-automation/qa-test-output*
fewa-automation/scope-test-output*
fewa-automation/pywb-data
fewa-automation/__pycache__
fewa-v3-backend/__pycache__
fewa-v3-backend/.pytest_cache
fewa-v3-frontend/node_modules
fewa-v3-frontend/.next
postgres_data
minio_data
